<div class="affiliate community">
    <div class="banner">
        <img src="/static/images/community/banner_community.jpg" alt="커뮤니티" width="1080" />
    </div>

    <ul class="affiliate_category clearfix">
        <li class="affiliate_list"><a href="http://cafe.naver.com/fate3377" target="_blank"><img src="/static/images/community/img_hol1000_blog.jpg" alt="" /></a></li>
        <li class="affiliate_list"><a href="http://www.pokergosu.com/" target="_blank"><img src="/static/images/community/img_pokergosu.jpg" alt="" /></a></li>
        <li class="affiliate_list"><a href="http://hol1000.com/" target="_blank"><img src="/static/images/community/img_hol1000.jpg" alt="" /></a></li>
    </ul>
</div>

<div class="board-community" id="boardArea">
    {{#each content}}
    <div class="search-area clearfix">
        <a href="/community" class="btn btn-red btn-list">
            <span class="glyphicon glyphicon-align-justify"></span>&nbsp; 목록
       </a>
        {{#if (isEquals nickname ../loggedIn.nickname) }}
        <a href="/delete/board/{{id}}#boardArea" class="btn btn-default pull-right">삭제</a>
        <a href="/update/board/{{id}}#boardArea" class="btn btn-default pull-right" style="margin-right: 10px;">수정</a>
        {{/if}}
    </div>

    <table class="tb_community table">
        <colgroup>
            <col width="870" />
            <col width="*" />
        </colgroup>
        <tr>
            <th class="text-left">{{title}}</th>
            <th class="center middle">{{nickname}}</th>
        </tr>
        <tr>
            <td colspan="2" style="padding: 50px 20px">
                <div class="content_area">{{content}}</div>
            </td>
        </tr>
    </table>

    <div class="search-area clearfix">
        <a href="/community" class="btn btn-red btn-list">
            <span class="glyphicon glyphicon-align-justify"></span>&nbsp; 목록
        </a>
        {{#if (isEquals nickname ../loggedIn.nickname) }}
        <a href="/delete/board/{{id}}#boardArea" class="btn btn-default pull-right">삭제</a>
        <a href="/update/board/{{id}}#boardArea" class="btn btn-default pull-right" style="margin-right: 10px;">수정</a>
        {{/if}}
    </div>
    {{/each}}
</div>