<div class="affiliate community">
    <div class="banner">
        <img src="/static/images/community/banner_community.jpg" alt="커뮤니티" width="1080" />
    </div>

    <div class="board-community" id="boardArea">
        <div class="search-area clearfix text-left">
            <h2>댓글 수정하기</h2>
        </div>
        {{#each content}}
            <form action="/update/reply" method="post">
                <table class="tb_community table">
                    <colgroup>
                        <col width="870" />
                        <col width="*" />
                    </colgroup>
                    <tr>
                        <td colspan="2" style="padding: 30px 10px">
                            <textarea class="form-control textarea-freeboard" name="content" rows="20" required placeholder="댓글 내용을 입력하세요." autocomplete="off" autofocus>{{{content}}}</textarea>
                        </td>
                    </tr>
                </table>

                <div class="search-area clearfix text-left">
                    <a href="/community/freeboard/{{../parent_id}}" class="btn btn-default pull-right">취소</a>
                    <button type="submit" class="btn btn-red pull-right" style="margin-right: 10px;">저장</button>
                </div>

                <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
                <input type="hidden" name="reply_id" value="{{../reply_id}}" />
                <input type="hidden" name="parent_id" value="{{../parent_id}}" />
            </form>
        {{/each}}
    </div>

    <ul class="affiliate_category clearfix">
        <li class="affiliate_list"><a href="http://cafe.naver.com/fate3377" target="_blank"><img src="/static/images/community/img_hol1000_blog.jpg" alt="" /></a></li>
        <li class="affiliate_list"><a href="http://www.pokergosu.com/" target="_blank"><img src="/static/images/community/img_pokergosu.jpg" alt="" /></a></li>
        <li class="affiliate_list"><a href="http://hol1000.com/" target="_blank"><img src="/static/images/community/img_hol1000.jpg" alt="" /></a></li>
    </ul>
</div>