<div class="board-community" id="boardArea">
    <div class="search-area clearfix">
        <h4 class="free-board">공지 게시판</h4>
        <!--<a href="/community/board/create#boardArea" class="btn btn-red btn-write">-->
            <!--<span class="glyphicon glyphicon-pencil"></span>&nbsp; 글쓰기-->
        <!--</a>-->
    </div>

    <table class="tb_community table">
        <colgroup>
            <col width="870" />
            <col width="*" />
        </colgroup>
        <tr>
            <th class="center">제목</th>
            <th class="center">작성자</th>
        </tr>
        {{#if list}}
            {{#each list}}
                <tr>
                    <td align="left"><a href="/community/content/{{id}}#boardArea">{{title}}</a></td>
                    <td class="center middle">{{nickname}}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr><td colspan="2" class="center" style="padding: 50px 20px">등록된 글이 없습니다.</td></tr>
        {{/if}}

    </table>

    <nav aria-label="Page navigation" class="navi-board">
        <ul class="pagination justify-content-center">
            <li class="page-item{{#if (isEmpty prev )}} disabled{{/if}}">
                {{#if (isEmpty prev )}}
                    <a class="page-link" href="#boardArea" tabindex="-1">이전</a>
                {{else}}
                    <a class="page-link" href="/community?size={{size}}&page={{prev}}#boardArea" tabindex="-1">이전</a>
                {{/if}}
            </li>
            <li class="page-item"><a class="page-link disabled" href="#freeboard"> <strong class="current">{{page}}</strong> / {{total}}</a></li>
            <li class="page-item{{#if (isEmpty next )}} disabled{{/if}}">
                {{#if (isEmpty next )}}
                    <a class="page-link" href="#boardArea">다음</a>
                {{else}}
                    <a class="page-link" href="/community?size={{size}}&page={{next}}#boardArea">다음</a>
                {{/if}}

            </li>
        </ul>
        <!--<a href="/community/board/create" class="btn btn-red btn-write">-->
            <!--<span class="glyphicon glyphicon-pencil"></span>&nbsp; 글쓰기-->
        <!--</a>-->
    </nav>
</div>