{{#if news}}
<h4>News Section</h4>
<!-- News Section -->
<div class="story-rotator no-js ps-ui" data-ps-ui-type="story-rotator">
    <div class="story-rotator-wrapper">
        {{#each news}}
        <div class="item clear">
            <a href="#">
                <img src="{{../static}}news/{{thumbnail}}" width="540" height="300" alt="{{title}}"/>
            </a>
            <div class="caption full">
                <strong><a href="#">{{title}}</a></strong>
                <!--<p><a href="/en/tv/channels/2017/02/pokerstars-top-5---most-controversial-poker-hands.shtml">Poker is a game that is typically played in good spirits with a keen sense of fairness and etiquette...but sometimes all hell breaks loose!</a></p>-->
            </div>
            <div class="caption small">
                <strong><a href="#">{{sub_title}}</a></strong>
                <!--<p><a href="/en/tv/channels/2017/02/pokerstars-top-5---most-controversial-poker-hands.shtml">Controversies </a></p>-->
            </div>
        </div>
        {{/each}}
    </div>
</div>
<!-- // News Section -->
{{/if}}

{{#if videos}}
<h4 class="heading">최신 업데이트 비디오 정보</h4>
<ul>
    {{#each videos}}
    <li>
        <a href="/channel/{{channel_id}}/video/{{video_id}}">
            <img src="{{../static}}channel/{{channel_id}}/{{video_id}}/thumbnail" alt="{{title}}" /><br />
            <span>{{title}}</span><br />
            <span>{{hits}}</span><br />
            <span>{{created_dt}}</span>
        </a>
    </li>
    {{/each}}
</ul>
{{/if}}

{{#if representative}}
<h4 class="heading">홀클 대표 콘텐츠</h4>
<ul>
    {{#each representative}}
        <li>
            <a href="/channel/{{channel_id}}">
                <img src="{{../static}}channel/{{channel_id}}/thumbnail" alt="{{title}}" /><br />
                {{title}}
            </a>
        </li>
    {{/each}}
</ul>
{{/if}}

{{#if education}}
<h4 class="heading">포커 교육 콘텐츠</h4>
<ul>
    {{#each education}}
    <li>
        <a href="/channel/{{channel_id}}/video/{{video_id}}">
            <img src="{{../static}}channel/{{channel_id}}/{{video_id}}/thumbnail" alt="{{title}}" /><br />
            {{title}}
        </a>
    </li>
    {{/each}}
</ul>
{{/if}}

{{#if summary}}
<h4 class="heading">포커 요약 콘텐츠</h4>
<ul>
    {{#each summary}}
    <li>
        <a href="/channel/{{channel_id}}/video/{{video_id}}">
            <img src="{{../static}}channel/{{channel_id}}/{{video_id}}/thumbnail" alt="{{title}}" /><br />
            {{title}}
        </a>
    </li>
    {{/each}}
</ul>
{{/if}}


<!-- Community -->
<article class="community">
    <h4 class="heading">제휴 커뮤니티</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
            <a href="#" target="_blank" class="btn_commnity">
                <img src="/static/images/img_facebook.jpg" alt="" class="img_community" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <a href="#" target="_blank" class="btn_commnity">
                <img src="/static/images/img_facebook.jpg" alt="" class="img_community" />
            </a>
        </div>
    </div>
</article>