<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
{{! todo 로그인 회원가입 아이디찾기 비번찾기 로그인 등에서 모바일에서 접근할 경우와 PC에서 접근할 경우 별도의 뷰포트를 적용할 수 있도록 한다.  }}
{{#if (isEquals isMobile 1 )}}
    {{#if (isEquals current_path 'INDEX')}}
    <meta name="viewport" content="width=1100" />
    {{else if (isEquals current_path 'VIDEOLIST')}}
    <meta name="viewport" content="width=1100" />
    {{else if (isEquals current_path 'VIDEOVIEW')}}
    <meta name="viewport" content="width=1100" />
    {{else if (isEquals current_path 'GAME')}}
    <meta name="viewport" content="width=1100" />
    {{else if (isEquals current_path 'CREW')}}
    <meta name="viewport" content="width=1100" />
    {{else if (isEquals current_path 'COMMUNITY')}}
    <meta name="viewport" content="width=1100" />
    {{else if (isEquals current_path 'PARTNERSHIP')}}
    <meta name="viewport" content="width=1100" />
    {{else}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    {{/if}}
    {{! 메인, 채널 리스트, 비디오 뷰 페이지를 제외하고 모바일 환경을 적용한다. }}
{{/if}}

<meta name="Referrer" content="origin" />
{{! Open Graph }}
<meta property="og:title" content="홀덤클럽티비" />
<meta property="og:url" content="http://holdemclub.tv/" />
<meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/holdemclubtv/static/logo_holdemclubtv.png" />
<meta property="og:description" content="텍사스 홀덤, 홀덤, 포커, 포커 전문 영상, 홀덤교육, 홀덤스쿨, 홀덤 콘텐츠 토너먼트" />
{{! twitter }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="홀덤클럽티비" />
<meta name="twitter:url" content="http://holdemclub.tv/" />
<meta name="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/holdemclubtv/static/logo_holdemclubtv.png" />
<meta name="twitter:description" content="텍사스 홀덤, 홀덤, 포커, 포커 전문 영상, 홀덤교육, 홀덤스쿨, 홀덤 콘텐츠, 토너먼트" />
{{! common data }}
<meta name="naver-site-verification" content="a153f94a1cbbeecf0056394854faf2192600cbc5" />
<meta name="description" content="텍사스 홀덤, 홀덤, 포커, 포커 전문 영상, 홀덤교육, 홀덤스쿨, 홀덤 콘텐츠, 토너먼트" />
<meta name="keyword" content="텍사스 홀덤, 홀덤, 포커, 포커 전문 영상, 홀덤교육, 홀덤스쿨, 홀덤 콘텐츠, 토너먼트" />
<meta name="author" content="홀덤클럽티비" />
<meta http-equiv="x-dns-prefetch-control" content="on" />
<link rel="canonical" href="http://holdemclub.tv/" />
<link rel='stylesheet' href='/static/stylesheets/styles.min.css?v={{version}}' media="screen,handheld" />
{{! DNS Prefetch setting for CDN }}
<link rel="dns-prefetch" href="http://static.holdemclub.tv/" />
<link rel="dns-prefetch" href="http://media.holdemclub.tv/" />
{{! 페이지뷰가 낮을 경우 prefetch를 꺼버린다. }}
{{! <meta http-equiv="x-dns-prefetch-control" content="off" /> }}
<title>{{title}}</title>
</head>

<body {{#if (isEqualsInArray current_path 'login' 'SIGNUP' 'FINDID' 'FINDIDRESULT' 'FINDPW' 'RESETPW' 'PRIVATE' 'PRIVATE-EMAIL' 'PRIVATE-PASSWORD' 'PRIVATE-MARKETCODE')}}class="secure_page"{{/if}}>
{{! Google Tag Manager (noscript) }}
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT2VT6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
{{! End Google Tag Manager (noscript) }}

{{#if (isEqualsInArray current_path 'login' 'SIGNUP' 'FINDID' 'FINDIDRESULT' 'FINDPW' 'RESETPW' 'PRIVATE' 'PRIVATE-EMAIL' 'PRIVATE-PASSWORD' 'PRIVATE-MARKETCODE')}}
    <div id="holdemclub">
        {{>header_simple}}
        {{{body}}}
        {{>footer_simple}}
    </div>
{{else}}
    <div id="holdemclub">
        {{> header}}

        {{#if (isEqualsInArray current_path 'GAME' 'CREW' 'EVENT' 'COMMUNITY' 'PARTNERSHIP')}}
            <div class="content_body">
                {{{body}}}
            </div>
        {{else}}
        {{! start content }}
            <div id="content">
                <div class="inner_content clearfix">
                    {{> left_nav}}
                    <div class="main_area">
                        <div id="spot">
                            <a href="/" target="_blank">
                                <img src="/static/images/banner_download.jpg" alt="홀덤클럽포 다운로드" width="840" />
                            </a>
                        </div>

                        <div class="content_body">
                            {{{body}}}
                        </div>
                    </div>
                </div>
            </div>
        {{! // end content }}
        {{/if}}

        {{> footer}}
    </div>
{{/if}}

    {{#if (isEquals current_path 'INDEX')}}<script src="/static/javascripts/dist/index.js?v={{version}}"></script>{{/if}}
    {{#if (isEquals current_path 'SIGNUP')}}<script src="/static/javascripts/dist/signup.js?v={{version}}"></script>{{/if}}
    {{#if (isEquals current_path 'VIDEOLIST')}}<script src="/static/javascripts/dist/video_list.js?v={{version}}"></script>{{/if}}
    {{#if (isEquals current_path 'VIDEOVIEW')}}
        <script src="/static/javascripts/vendor/videojs.js?v={{version}}"></script>
        <script src="/static/javascripts/vendor/youtube.min.js?v={{version}}"></script>
        <script src="/static/javascripts/dist/video_view.js?v={{version}}"></script>
        <script src="/static/javascripts/dist/video_list.js?v={{version}}"></script>
    {{/if}}

    {{! Google Tag Manager }}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KT2VT6');</script>
    {{! End Google Tag Manager }}

    {{! GA }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-83384040-1', 'auto');
        ga('send', 'pageview');
    </script>
    {{! end GA }}
</body>
</html>