<h2 class="heading-s">개인정보</h2>

{{#each info}}
    <div class="private">
        <table class="table" summary="홀덤클럽티비 개인 정보">
            <caption>홀덤클럽티비 개인 정보</caption>
            <tr>
                <th><label for="username">아이디</label></th>
                <td>
                    <span>{{user_id}}</span>
                </td>
            </tr>
            <tr>
                <th><label for="nickname">닉네임</label></th>
                <td>
                    <span>{{nickname}}</span>
                </td>
            </tr>
            <tr>
                <th><label for="email">이메일</label></th>
                <td>
                    <span>{{email}}</span>
                    <a href="/private/email" class="btn btn-link pull-right">수정</a>
                </td>
            </tr>
            <tr>
                <th><label for="password">비밀번호</label></th>
                <td>
                    <span>{{password}}</span>
                    <a href="/private/password" class="btn btn-link pull-right">수정</a>
                </td>
            </tr>
            <tr>
                <th><label for="market">마케팅 코드</label></th>
                <th>
                    <span>{{#if (isEmpty market_code)}}-{{else}}{{market_code}}{{/if}}</span>
                    {{!-- 이미 입력된 마케팅 코드가 있다면 수정을 할 수가 없다. 만약 수정하고 싶다면 info@holdemclub.tv로 요청을 해야 한다. --}}
                    {{#if (isEmpty market_code)}}<a href="/private/market-code" class="btn btn-link pull-right">수정</a>{{/if}}
                </th>
            </tr>
        </table>
    </div>
{{/each}}