<h3>비밀번호 수정</h3>
{{#if error}}<div class="error">{{error}}</div>{{/if}}
<form action="/private/password/modify" method="post" class="form">
    <legend>비밀번호 수정 페이지</legend>
    <fieldset>
    <input type="password" name="old_password" class="form-control" autocomplete="off" required placeholder="현재 비밀번호를 입력해주세요." autofocus />
    {{#if msg_old_password}}{{msg_old_password}}{{/if}}
    <input type="password" name="new_password" class="form-control" autocomplete="off" required placeholder="새로운 비밀번호를 입력해주세요." />
    {{#if msg_new_password}}{{msg_new_password}}{{/if}}
    <input type="password" name="re_password" class="form-control" autocomplete="off" required placeholder="새로운 비밀번호를 다시 확인해주세요." />
    {{#if msg_re_password}}{{msg_re_password}}{{/if}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <hr />
    <button type="submit" class="btn btn-primary">수정하기</button>
    <a href="/private" class="btn btn-default">돌아가기</a>
    </fieldset>
</form>
