<div class="affiliate community">
    <div class="banner">
        <a href="{{download}}" target="_blank" class="btn-download-community"><img src="/static/images/btn_download.png" alt="게임 다운로드" /></a>
        <img src="/static/images/community/banner_community.jpg" alt="커뮤니티" width="1080" />
    </div>

    <div class="board-community" id="boardArea">
        {{#each content}}
            <div class="search-area clearfix text-left">
                <a href="/community/qna" class="btn btn-red btn-list">
                    <span class="glyphicon glyphicon-align-justify"></span>&nbsp; 목록
                </a>
                {{#if (isEmpty answer) }}
                <a href="/community/qna/{{id}}/delete" class="btn btn-default pull-right">삭제</a>
                <a href="/community/qna/{{id}}/update" class="btn btn-warning pull-right" style="margin-right: 10px;">수정</a>
                {{/if}}
            </div>

            <table class="tb_community table">
                <colgroup>
                    <col width="670" />
                    <col width="200" />
                    <col width="*" />
                </colgroup>
                <tr>
                    <th class="text-left">{{title}}</th>
                    <th class="text-center">{{date created_dt}}</th>
                    <th class="center middle"><strong>{{nickname}}</strong></th>
                </tr>
                <tr>
                    <td colspan="3" style="padding: 50px 20px">
                        <div class="content_area text-left">{{{content}}}</div>
                    </td>
                </tr>
                {{#unless (isEmpty answer) }}
                <tr>
                    <td colspan="3" style="padding: 0 40px 30px 40px">
                        <div class="content_area text-left">
                            <h4>홀클 관리자 답변</h4>
                            {{{answer}}}
                        </div>
                    </td>
                </tr>
                {{/unless}}

            </table>

            <div class="search-area clearfix text-left">
                <a href="/community/qna" class="btn btn-red btn-list">
                    <span class="glyphicon glyphicon-align-justify"></span>&nbsp; 목록
                </a>
                {{#if (isEmpty answer) }}
                <a href="/community/qna/{{id}}/delete" class="btn btn-default pull-right">삭제</a>
                <a href="/community/qna/{{id}}/update" class="btn btn-warning pull-right" style="margin-right: 10px;">수정</a>
                {{/if}}
            </div>
        {{/each}}
    </div>

    <ul class="affiliate_category clearfix">
        <li class="affiliate_list"><a href="http://cafe.naver.com/fate3377" target="_blank"><img src="/static/images/community/img_hol1000_blog.jpg" alt="" /></a></li>
        <li class="affiliate_list"><a href="http://www.pokergosu.com/" target="_blank"><img src="/static/images/community/img_pokergosu.jpg" alt="" /></a></li>
        <li class="affiliate_list"><a href="http://hol1000.com/" target="_blank"><img src="/static/images/community/img_hol1000.jpg" alt="" /></a></li>
    </ul>
</div>

